/* FilterPanel.css
.filter-panel {
} */

.filter-button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.filter-options {
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.filter-section {
    margin-bottom: 16px;
}

.filter-section h4 {
    margin-bottom: 8px;
}

.filter-section button {
    margin-right: 8px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}

.filter-section input {
    width: 80px;
    padding: 4px;
    margin-right: 4px;
}

.filter-section select {
    padding: 6px;
    font-size: 14px;
    width: 100%;
    max-width: 200px;
}

/* App.css */
.content-block {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f0f0f0;
}

/* For Chrome, Safari, Edge, and Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.no-arrows {
    -moz-appearance: textfield;
    appearance: textfield; /* Standard property */
}

/* Standard property for other browsers */
.no-arrows {
    appearance: textfield;
}

.filter-panel-first-line-block {
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5%;
}

.filter-panel-back-button-img {
    width: 25px;
    height: 25px;
}

.filter-panel-button-standart {
    width: 45%;
    height: 30px;
    font-size: 12px;
    background-color: #163017;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 20px;
    color: #F3E8D4;
}