
.AdvertisementHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backArrow {
    display: inline-flex;
    align-items: center;
    font-size: 40px;
    color: #F3E8D4;
    background-color: #133115;
    border-radius: 50%;
    margin: 0 5% 0 0;
}

.buttonsAdd {
    display: inline-flex;
    align-items: center; /* Центрирует элементы по вертикали */
    justify-content: center; /* Центрирует элементы по горизонтали */
    width: 100%; /* Ширина контейнера на 100% */
    box-sizing: border-box; /* Включаем отступы в ширину контейнера */
    /*margin-top: 5%;            !* Отступ сверху *!*/
}

.buttonAdd {
    flex: 1; /* Занимает всю доступную ширину */
    padding: 2%; /* Отступы */
    margin: 0 2%; /* Отступы между кнопками */
    color: #F3E8D4;
    background-color: #133115;
    border: none; /* Убираем границу */
    border-radius: 20px; /* Закругление углов */
    cursor: pointer; /* Указатель курсора */
    font-size: 11px; /* Размер шрифта */
    text-align: center;
    text-decoration: none;
}