.AdvertisementHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backArrow {
    display: inline-flex;
    align-items: center;
    font-size: 35px;
    color: #F3E8D4;
    background-color: #133115;
    border-radius: 50%;
    margin: 0 5% 0 0;
}

.CatalogSettingsCategory-block {
    width: 100%;
    /*margin-left: 5%;*/
    /*margin-top: 10px;*/
}

.CatalogSettingsCategory-selector {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #133115;
    background-color: #92B774;
    border-radius: 5px;
    border: 0;
    height: 25px;
    text-align: center;
    font-family: "Adamina", sans-serif;

}

.CatalogSettingsCategory-custom-select {
    position: relative;
    width: 100%;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

.CatalogSettingsCategory-select-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #133115;
    background-color: #92B774;
    border-radius: 5px;
    border: 0;
    height: 30px;
    text-align: center;
}

.CatalogSettingsCategory-open-arrow {
    width: 20px;
    height: 28px;
    right: 15px;
    position: absolute;
}

.CatalogSettingsCategory-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #92B774;
    border: 0;
    border-radius: 5px;
    margin-top: 5px;
    max-height: 250px;
    z-index: 10;
    text-align: left;
    overflow: hidden;
}

.CatalogSettingsCategory-option {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CatalogSettingsCategory-option:hover {
    background-color: #81a166;
}

.CatalogSettingsCategory-horizont-line {
    border: 1px solid #000;
    margin: 0;
}

.CatalogSettingsCategory-img {
    width: 15px;
    height: 15px;
    align-self: flex-end;
}

