.addAdvertisement {
    margin-top: 4%;
    margin-left: 5%;
    width: 90%;
    font-family: "Adamina", sans-serif;
    position: relative;
    flex-direction: column;
    background-color: #FFFEF9;

}

.productForm {
    margin-top: 5%;
}

.formGroup {
    display: flex;
}

.imagePlaceholder {
    width: 126px;
    height: 149px;
    background-color: #ddd;
    border-radius: 8px;
    display: flex; /* Для выравнивания элементов */
    position: relative; /* Необходимо для абсолютного позиционирования дочерних элементов */
    justify-content: center;
    align-items: center;
}

/* Контейнер для изображений и кнопки добавления */
.photoUploaderContainer {
    margin-top: 1%;
    padding-top: 2%;
    overflow-x: auto; /* Горизонтальная прокрутка */
    display: flex;
    gap: 10px;
    align-items: center;
    scrollbar-width: thin; /* Узкая полоса прокрутки в Firefox */
}

.photoScroller {
    display: flex; /* Ряд фотографий */
    overflow-x: auto; /* Горизонтальная прокрутка */
    gap: 10px; /* Отступ между фотографиями */
    width: 100%; /* Растягивается на ширину родителя */
    scrollbar-width: thin; /* Узкая полоса прокрутки в Firefox */
}

.photoPreview {
    position: relative;
    flex: 0 0 auto; /* Элементы не сжимаются, занимают фиксированное место */
    justify-content: center;
    align-items: center;
}

.photoImgPlaceholder {
    width: 126px;
    height: 149px;
    border-radius: 8px;
    object-fit: cover;
}

.cameraIcon {
    position: absolute; /* Для позиционирования иконки */
    font-size: 40px;
    top: 50%; /* Центрируем иконку */
    left: 50%;
    transform: translate(-50%, -50%);
}


.inputFields {
    display: flex;
    flex-direction: column;
    border: none;
    width: 60%;
    margin-left: 5%;
}

.inputFields input,
textarea {
    display: block;
    /*width: 100%;*/
    border: 1px solid #ddd;
}

.inputFields label {
    font-size: 12px;
    font-family: "Adamina", sans-serif;
}

.inputDescription {
    border-radius: 15px;
    background-color: #F3E8D4;
    height: 85px;
    width: 100%;
    margin-bottom: 4%;
    padding: 7px; /* Добавляет внутренний отступ для текста */
    text-align: left; /* Выравнивает текст по левому краю */
    vertical-align: top; /* Устанавливает начальную позицию текста (не требуется для input) */
    font-size: 14px; /* Убедитесь, что шрифт имеет подходящий размер */
    /*line-height: 1.2; !* Устанавливает межстрочный интервал *!*/
    box-sizing: border-box; /* Учитывает padding в общей ширине и высоте */
    /*resize: none; !* Отключаем изменение размера поля *!*/
}

.inputPrice {
    padding-left: 7px; /* Добавляет внутренний отступ для текста */
    background-color: #92B774;
    height: 23px;
    border-radius: 7px;
}

.photoUploader {
    margin-top: 1%;
}

.photoUploader label {
    font-size: 12px;
}

/* Заголовок */
.photoUploaderTitle {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}


.photoImg {
    width: 70px;
    height: 75px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
    flex: 0 0 auto; /* Элементы остаются в одной строке */
    position: relative; /* Для кнопок и других элементов */

}

.removePhotoBtn, .removePhotoBtnPlaceholder {
    position: absolute;
    background: red;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.removePhotoBtn {
    top: -5px;
    right: -5px;
}

.removePhotoBtnPlaceholder {
    top: -5px;
    right: -5px;
}

/* Блок добавления нового изображения */
.addPhotoLabel {
    width: 32px;
    height: 32px;
    display: flex; /* Используем flex для центрирования содержимого */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    background-color: #133115; /* Цвет фона */
    border-radius: 50%; /* Делаем круг */
    cursor: pointer; /* Указываем, что элемент кликабельный */
    position: relative; /* Для управления дочерними элементами */
    flex-shrink: 0; /* Запрещает сжатие */
    /*margin-bottom: 5%;*/
}

.addPhotoInput {
    display: none; /* Прячем сам input */
}

.addPhotoIcon {
    font-size: 26px; /* Размер иконки */
    color: #F3E8D4; /* Цвет иконки */
    stroke-width: 0.5; /* Размер границы иконки */
    flex-shrink: 0; /* Запрещает сжатие иконки */

}


.additionalInformation {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Adamina", sans-serif;
}

/* Блок поля формы */
.formField {
    display: flex;
    flex-direction: column;
    border: none;
}

/* Метка поля */
.fieldLabel {
    color: #133115;
    font-size: 12px;
    font-family: "Adamina", sans-serif;
    margin-bottom: 5px;
}

/* Контейнер для ввода и кнопки */
.fieldContainer {
    position: relative;
    display: flex;
    align-items: center;
}

/* Текстовое поле (textarea) */
.descriptionInput {
    width: 100%;
    height: 210px;
    background-color: #f3e8d4;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    resize: none; /* Отключаем изменение размера поля */
    box-sizing: border-box;
}

/* Поле ввода для местоположения */
.locationInput {
    width: 100%;
    height: 30px;
    background-color: #f3e8d4;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
}

.editIconContainer {
    position: absolute;
    top: 5px; /* Отступ от верхней границы поля */
    right: 5px; /* Отступ от правой границы поля */
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.editIconContainer svg {
    width: 16px;
    height: 16px;
    fill: #333;
    transition: fill 0.2s ease;
}

.editIconContainer:hover svg {
    fill: #666;
}

/* Общий контейнер */
.promotionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/* Блок информации о продвижении */
.promotionInfo {
    width: 100%;
    height: 150px;
    background-color: #FFFEF9;
    border: 2px solid #92B774;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center; /* Центрирует содержимое по горизонтали */
    text-align: center; /* Текст выровнен по центру */
    position: relative; /* Чтобы кнопка оставалась на месте */
}

/* Текст внутри блока */
.promotionInfo p {
    padding-bottom: 70px;
    font-size: 12px;
    color: #000000;
}

/* Кнопка продвижения */
.promoteButton {
    width: 144px;
    height: 27px;
    position: absolute; /* Абсолютное позиционирование кнопки */
    /*bottom: 1px;           !* Расстояние от нижнего края *!*/
    right: 10px; /* Расстояние от правого края */
    background-color: #92B774;
    border: none;
    border-radius: 15px;
    /*padding: 8px 1px;*/
    font-size: 12px;
    cursor: pointer;
    color: #133115;
    /*transition: background-color 0.3s ease;*/

}


.promoteButton:hover {
    background-color: #92B774;
}

/* Кнопка размещения объявления */
.submitAdButton {
    width: 100%;
    padding: 10px;
    background-color: #133215;
    color: #F3E8D4;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitAdButton:hover {
    background-color: #0f2710;
}

.footerClass {
    margin-top: 50px;
}

