body {
    background-color: white;
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
    /*font-family: 'Nunito', sans-serif;*/

}

.app {
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto; /* Центрирование контейнера */
}
