@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

.Profile {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    font-family: "Adamina", sans-serif;
    position: relative;
    flex-direction: column;

}

.ProfileHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backArrow {
    display: inline-flex;
    align-items: center;
    font-size: 40px;
    color: #F3E8D4;
    background-color: #133115;
    border-radius: 50%;
    margin: 0 5% 0 0;
    /*margin-left: 0;*/
}


.profileInfo {
    width: 100%;
    background-color: #92B774; /* Светло-зеленый фон */
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.photoPlaceholder {
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
}

.nameSection {
    margin-left: 10px;
}

.name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #133115;
}

.username {
    margin: 0;
    font-size: 14px;
    color: #133115;
}

.ratingSection {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.star {
    color: #f4c430; /* Золотая звезда */
    font-size: 20px;
}

.rating {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    color: #133115;
}

.editIcon {
    font-size: 20px;
    color: #133115;
}

.buttons {
    display: flex;              /* Flexbox контейнер */
    justify-content: space-between; /* Пробел между кнопками */
    width: 100%;               /* Ширина контейнера на 100% */
    box-sizing: border-box;    /* Включаем отступы в ширину контейнера */
    margin-top: 5%;

}

.button {
    flex: 1;                   /* Занимает всю доступную ширину */
    padding: 2%;             /* Отступы */
    margin: 0 2%;            /* Отступы между кнопками */
    color: #F3E8D4;
    background-color: #133115;
    border: none;              /* Убираем границу */
    border-radius: 20px;       /* Закругление углов */
    cursor: pointer;           /* Указатель курсора */
    font-size: 11px;          /* Размер шрифта */
    text-align: center;
    text-decoration: none;

}
