@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

.Profile {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    font-family: "Adamina", sans-serif;
    position: relative;
    flex-direction: column;

}

.ProfileHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backArrow {
    display: inline-flex;
    align-items: center;
    font-size: 40px;
    color: #F3E8D4;
    background-color: #133115;
    border-radius: 50%;
    margin: 0 5% 0 0;
    /*margin-left: 0;*/
}


.profileInfo {
    position: relative;
    width: 100%;
    height: 5em;
    background-color: #F8E68F; /* Светло-зеленый фон */
    border-radius: 15px;
    padding: 15px;
    display: flex;
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*flex-grow: 1;*/
    box-sizing: border-box;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.photoPlaceholder {
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
}

.nameSection {
    position: absolute;
    top: 13px;
    left: 20%;
}

/*.verifiedIcon {*/
/*    width: 19px;*/
/*    height: 19px;*/
/*}*/

.name {
    margin: 0;
    font-size: 24px;
    color: #133115;
    font-weight: 500;
}

.usernameSection {
    position: absolute;
    top: 65%;
    left: 5%;
}

.username {
    margin: 0;
    font-size: 16px;
    color: #133115;
    font-weight: 500;
}

.ratingSection {
    position: absolute;
    display: flex;
    align-items: center;
    top: 55%;
    left: 75%;
}

.star {
    color: #f4c430; /* Золотая звезда */
    font-size: 26px;
}

.rating {
    font-size: 18px;
    font-weight: bold;
    /*margin-left: 5px;*/
    color: #133115;
}

.editIcon {
    position: absolute;
    font-size: 24px;
    color: #133115;
    top: 10%;
    left: 87%;
}


.buttons {
    display: flex; /* Flexbox контейнер */
    justify-content: space-between; /* Пробел между кнопками */
    width: 100%; /* Ширина контейнера на 100% */
    box-sizing: border-box; /* Включаем отступы в ширину контейнера */
    margin-top: 5%;

}

.button {
    flex: 1; /* Занимает всю доступную ширину */
    padding: 2%; /* Отступы */
    margin: 0 2%; /* Отступы между кнопками */
    color: #F3E8D4;
    background-color: #133115;
    border: none; /* Убираем границу */
    border-radius: 20px; /* Закругление углов */
    cursor: pointer; /* Указатель курсора */
    font-size: 11px; /* Размер шрифта */
    text-align: center;
    text-decoration: none;

}
